*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #222;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
    background: var(--bg);
}

ul{
    position: relative;
    display: flex;
    gap: 50px;
}

ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

ul li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--bg),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: .5s;
}

ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: .5s;
}